.banner {
  background: url("/Asset/background\ img.png") no-repeat center center/cover;
  padding-top: 5%;
  padding-bottom: 5%;
}

/* CSS untuk navbar */
.navbar {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.navbar-brand,
.navbar-nav .nav-link {
  color: white;
  font-weight: bold;
}

.navbar-nav .nav-link:hover {
  color: #f9fd2a;
}

